<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'stylesheet/styles.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".menu ul li a").click(function () {
                $(".menu ul li a").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>


    <title>{% block title %}Cheque Clearing System{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><p align="center">PEB &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;Cheque Clearing System</p></a>
        </div>
    </div>
</nav>

<div class="container">
    <div>
        <p><span style="font-size:50px;color: white; "><b>PEB</b></span></p>
        <p><span style="font-size:30px;color: white; "><b>PEC &nbsp;ENGINEERING &nbsp;BANK</b></span></p>

    </div>

    <div>

        <ul class="menu">
            {% block menuButtons %}
            {% endblock %}
        </ul>
    </div>

</div>
{% block body %}

{% endblock %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>

<footer>
    <div class="navbar navbar-inverse navbar-static-bottom navbar-fixed-bottom" role="navigation">
        <div class="navbar-text pull-left">
        </div>
        <div class="navbar-text pull-right">
        </div>
        <div class="navbar-text pull-left" id="bottomNav">
            &copy; Copyright &nbsp;&nbsp; Akshit Garg &nbsp; and &nbsp; Gaganpreet Singh Khurana
        </div>
    </div>
</footer>
</body>
</html>
