{% extends 'ChequeClearingSystem/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}
    {#    {% if error_message %}#}
    {#        <p><strong>{{ error_message }}</strong></p>#}
    {#    {% endif %}#}
    <div class="box" id="login">
        <h2><b>REGISTER</b></h2><br><br><br>

        <form action="" method="post">
            {% csrf_token %}
            {% include 'ChequeClearingSystem/form-template.html' %}
            <div style="text-align: center;">
                <button type="submit">Register</button>
            </div>
        </form>
        <br>
        <form>
            <div style="text-align: center;">
                <button type="submit" formaction="{% url 'ChequeClearingSystem:main' %}">Back to Login</button>
            </div>
        </form>
    </div>
{% endblock %}
